<%= turbo_stream.replace "favorite-button-#{@post.id}" do %>
  <td class="text-center" id="favorite-button-<%= @post.id %>">
    <%= button_to post_favorite_path(@post), method: :delete, class: 'btn btn-link p-0' do %>
      <i class="fas fa-heart text-danger"></i>
    <% end %>
  </td>
<% end %>
