<footer class="bg-light text-center py-4 text-muted fw-bold fs-6">
  <a href="#" class="text-decoration-none text-muted mx-2">問い合わせ</a>
  <span class="text-muted mx-1">|</span>
  <a href="#" class="text-decoration-none text-muted mx-2">利用規約</a>
  <span class="text-muted mx-1">|</span>
  <a href="#" class="text-decoration-none text-muted mx-2">プライバシーポリシー</a>
</footer>
