<% @posts.map(&:shop).uniq { |shop| shop.name }.each do |shop| %>
  <li class="list-group-item list-group-item-action" 
      role="option" 
      data-autocomplete-value="<%= shop.id %>" 
      data-autocomplete-label="<%= shop.name %>">
    <%= shop.name %>
  </li>
<% end %>